<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>打刻画面</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<h1 id="time"></h1>
<script>
    time();
    function time(){
        var now = new Date();
        document.getElementById("time").innerHTML = now.toLocaleTimeString();
    }
    setInterval('time()',1000);
</script>

<form action="timecard/recorded" method="post">
    <button class="btn btn-lg btn-success" type="submit" name="begin">出勤
    </button>
    <button class="btn btn-lg btn-danger" type="submit" name="finish">退勤
    </button>
</form>

</body>
</html>
